<!DOCTYPE html>

<html>
<head></head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="/img/masha.png">
        </div>
        {{>footer}}
    </body>
<footer>
    <p>Dikembangkan oleh by {{nama}}</p>
</footer>
</html>